services:
  qdrant:
    image: qdrant/qdrant
    container_name: qdrant
    ports:
      - "6333:6333"
    volumes:
      - qdrant_data:/qdrant/storage
    restart: always

  api:
    build: .
    container_name: multi-rag-app
    ports:
      - "127.0.0.1:8000:8000"
    env_file:
      - .env
    depends_on:
      - qdrant
    restart: always
    stop_grace_period: 30s

volumes:
  qdrant_data: